.card {
  padding: 3rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card--1 {
  grid-column: 1/3;
  background-color: var(--moderate-violet);
  color: var(--white);
  background-image: url(/images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 80% 0%;
}

.card--2 {
  background-color: var(--very-dark-grayish-blue);
}

.card--3 {
  grid-row: 1 / 3;
  grid-column: 4 / 5;
  background-color: var(--white);
}

.card--4 {
  background-color: var(--white);
}

.card--5 {
  grid-column: 2/4;
  background-color: var(--very-dark-blackish-blue);
}

.header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;

  &__avatar {
    display: block;
    border-radius: 50%;
    border: 2px solid var(--moderate-violet);
    width: 3.5rem;
    height: 3.5rem;
  }

  &__info {
    &__name {
      font-weight: 600;
      font-size: 1.4;

      &--3,
      &--4 {
        color: var(--very-dark-grayish-blue);
      }
    }

    &__verified {
      color: var(--light-gray);
      opacity: 50%;
    }
  }
}

.review {
  &__title {
    margin-bottom: 1.5rem;

    &--5,
    &--2 {
      color: var(--white);
    }
  }
}

@media only screen and (max-width: 954px) {
  body {
    height: auto;
    flex-direction: column;
  }
  .container {
    max-width: 90vw;
    grid-template-columns: 1fr;
    padding: 3rem 0;
  }

  .card--1 {
    grid-column: auto;
  }

  .card--3 {
    grid-column: auto;
    grid-row: auto;
    order: 5;
  }

  .card--5 {
    grid-column: auto;
  }
}
